main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
.innerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
}
.agreeCheck{
    padding: 20px;
    line-height: 3em;
    list-style-type: none;
    width: 440px;
    height: 330px;

    border: 1px solid black;
}

.agreeBtns{
    border: 1px solid red;
}
input[type="button"],
input[type="submit"]{
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.checkComplete{
    background: skyblue;
    color: white;
}
.agreeBtns > input[type="button"],
input[type="submit"]{
    width: 100px;
    height: 50px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background: salmon;
}
