@charset "UTF-8";

.outContainer {
    justify-content: center;
    text-align: center;
    display: flex;
}

.innerContainer {
	box-sizing: border-box;
    width: 1280px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 100px 0 100px 0;
    padding: 10px;
    
    border-radius: 8px;
    border: 2px solid gray;
}
.restaurantImgContainer,
.detail, .review, .random{
	margin: 20px 0 20px 0;
}



h3{
	margin: 10px 0 10px 0;
	padding-left: 20px;
	text-align: left;
}
hr{
	width: 1250px;
	border: 1px solid lightgray;
	border-radius: 50px;
}

/* 가게 이름 */
.restaurantTitle {
    justify-content: center;
    text-align: center;
    display: flex;
	height: 100px;
}
.name {
	display: flex;
	align-items: center;
	font: normal bold 45px 'sans-serif';
    margin: 10px;
}
.typeNrate{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	
	margin: 5px 0 5px 0;
}
.rateset{
	display: flex;
	font: normal bold 13pt 'sans-serif';
}
.bookmarkBtn{
	display: flex;
	justify-content: right;
	align-items: center;
}
.bookmarkBtn > form > input{
	float: right;
}
.bookmarkIcon, .backBtn,
.bookmarkIcon img, .backBtn img{
	width: 40px;
	height: 40px;
}
.bookmarkIcon, .backBtn{
	
	margin: 0 10px 0 10px;
	cursor: pointer;
}


/* 썸네일 사진 */
.restaurantImgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    height: 300px;
    border: 1px solid gray;
   
}
.restaurantImg, .restaurantImg img {
    width: 250px;
    height: 250px;
    border: 1px solid gray;
}
.restaurantImg {
    margin: 10px;
}



/* 가게 정보 */
.detail {
    justify-content: center;
    text-align: center;
    display: flex;
}
.detailtable, .plusInfo{
	width: 600px;
    height: 240px;
    margin: 10px 0 10px 0;
    
}
.plusInfo{
	border-radius: 8px;
	background: lightgray;
}
.detailtable {
/*     border: 1px solid gray;  */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    
    
    margin-right: 50px;
}
.detailtable td {
/*     border: 1px solid gray;  */
    border-bottom: 1px solid lightgray;
    padding: 8px; 
}
.detailtable td:nth-child(odd) {
    width: 100px;
    font: normal bold 13pt 'sans-serif';
    background: #f2f2f2;
}
.detailtable td:nth-child(even) {
	text-align: left;
    width: 400px;
    padding-left: 20px;
}
.map {
    width: 500px;
    height: 500px;
    border: 2px solid green;
}


/* 리뷰 버튼 */
.reviewTag {
	width: 100%;
    float: left;
}
.reviewBtn{
	width: 100%;
	height: 40px;
    margin: 20px;
    
}
.reviewBtn img{
	float: right;
	margin-right: 30px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: 2px solid salmon;
	border-radius: 5px;
}

/* 리뷰들 */
.reviewsContainer {
	display: flex;
	justify-content: center;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box;
    overflow-y: auto;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9;
}
.reviewsContainer table{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-collapse: collapse;
}
.reviewsContainer table td{
	padding: 5px 0 5px 0;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
	background: white;
}
.reviewsContainer table td:nth-of-type(2){
	font-weight: bold;
}
.review {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-img {
	width:100px;
}
.review-detail-img {
	width:300px;
}
/* .review-img-container { */
/* 	border:1px solid black; */
/* } */
.reviews-table {
/* 	border : 1px solid black; */
	width:90%;
}

/* 랜덤 추천 */
.random {
    width: 100%;
    height: 300px;
/*     border: 1px solid gray; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
    
}
.randomRestaurant{
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    margin: 10px;
}

/* 모달 창 */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 북마크 모달 */
.bookmarkRemoveModal{
	display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}
.messagePlace{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    vertical-align: middle;
    width: 400px;
    height: 200px;
    background: white;
    opacity: 1;
}
.xplace{
    position: absolute;
    left: 340px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.xplace>img{
	width: 50px;
	height: 50px;
}
.bookmarkBtns>input[type="button"]{
	box-sizing: border-box;
    width: 80px;
    height: 30px;
    background: salmon;
    border: none;
    cursor: pointer;
    font: normal bold 11pt 'sans-serif';
    margin: 20px 10px 0 10px;
}



