header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px solid salmon;
    border-bottom: 4px solid salmon;
	background: white;
}
.headcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 170px;

}
.headcontainer a{
	margin-left: 20px;
}
 .headcontainer img{
    width: 128px;
    height: 128px;
}

.loginplace a{
	margin-right: 40px;
	font: normal bold 15pt 'sans-serif';
}


/* 카테고리 부분 */
.category {
    list-style: none;
    display: flex; 
    justify-content: center; 
    padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
    
	background: salmon;
    /* border: 1px solid brown; */
}
.category li {
	width: 200px;
    padding: 10px; 
    text-align: center;
	font: normal bold 15pt 'sans-serif';
	border-radius: 50px;
	cursor: pointer;
	color: white;
}
.category li:hover{
	color: black;
	background: lemonchiffon;
	transition: background 300ms ease-in-out;
}
