header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px solid salmon;
    border-bottom: 4px solid salmon;
	background: white;
}
.headcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 170px;

}
.headcontainer a{
	margin-left: 20px;
}
 .headcontainer img{
    width: 128px;
    height: 128px;
}

/* 로그인 이후의 로그아웃 텍스트 */
.iamUser{
	position:relative;
	top: -50px;
	margin-right: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
}
.loginplace .iamUser span{
	position: relative;
	top: -1px;
	margin: 0 20px 0 5px;
	font: normal bold 15pt 'sans-serif';
}
.hereLogin{
	position: relative;
	top: -50px;
	margin-right: 40px;
	font: normal bold 15pt 'sans-serif';
}
.logoutLogo{
	width: 30px;
	height: 30px;
	border-radius: 50px;
	padding: 5px;
	background: indigo;
	overflow: hidden;
}

.logoutLogo input[type="image"]{
	width: 30px;
	height: 30px;
	border-radius: 50px;
	margin: 0;
	position: relative;
	left: 3px;
}


/* .logoutLogo a{
	margin: 0;
}
.logoutLogo a img{
	position: relative;
	left: 3px;
} */

.btnAndLogin{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	
}
.btnBox{
	display: flex;
}
.shopApplyBtn, .myPageBtn,
.shopApplyBtn a img, .myPageBtn a img{
	width: 30px;
	height: 30px;
	cursor: pointer;
	border-radius: 50px;
}
.shopApplyBtn a, .myPageBtn a{
	margin: 0;
}
.shopApplyBtn, .myPageBtn{
	padding: 5px;
	margin: 10px 10px 0 10px;
	background: black;
}




