header{
    display: flex;
    justify-content: center;
    border-top: 4px solid salmon;
    border-bottom: 4px solid salmon;
	background: white;
}
.headcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 170px;

}
.headcontainer a{
	margin-left: 20px;
}
 .headcontainer img{
    width: 128px;
    height: 128px;
}

.loginplace a{
	margin-right: 40px;
	font: normal bold 15pt 'sans-serif';
}