
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.tableContain{
	margin-bottom: 30px;
}
.notifiDetail{
	width: 1280px;
	border-collapse: collapse;
	margin-bottom: 10px;
	
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.notifiDetail tr{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

/* .notifiDetail, .notifiDetail tr{ */
/* 	border-top: 1px solid black; */
/* 	border-bottom: 1px solid black; */
	
/* } */

.notifiDetail tr{
	height: 50px;	
}

.notifiDetail th{
	font-weight: bold;
    text-align: center;
    background: lightgray;
}

.notifiDetail td{
	padding-left : 10px;
/* 	background: #f8f8f8; */
	background: white;
}

.thisContent{
	box-sizing: border-box;
	vertical-align: top;
	padding: 10px;
	height: 400px;
}

tr:last-child{
	border-bottom: none;
}

.tableIn{
	text-align: right;
	padding-right: 10px;
}

.tableIn input[type="button"]{
	width: 150px;
    height: 50px;
    font: normal bold 14px 'sans-serif';
/*     font-weight: bold; */
/*     font-size: 14px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
/*     background: salmon; */
	background: indigo;
}