main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
.innerContainer{
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    
    border: 2px solid gray;
    border-radius: 8px;
}

/* 도움말 부분 */
.OCRhelp{
	position:absolute;
	top: 3px;
	left: 270px;
}
.OCRhelp span{
	font-size: 10pt;
	color: #4169e1;
}
.OCRhelp img{
	position: relative;
	top: 3px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
/*OCR 설명란*/
.OCRexplain{
	position: absolute;
	top: -150px;
	left: 430px;
    padding: 10px;
	background: #f2f2f2;
	opacity: 0.8;
	border-radius: 8px;
	
    border: 1px solid gray;
}
.invisible{
	opacity: 0;
}
h4{
    padding-left: 10px;
}
.OCRexplain > ol > li{
	box-sizing: border-box;
	width: 400px;
	
	font: normal normal 10pt 'sans-serif';
}


/* 검색 부분 */
.searchContainer{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	padding: 10px;
}
.searchContainer::before{
	content:"";
/* 	background: #f2f2f2; */
	position: absolute;
	z-index: -5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.searchBar {
	box-sizing: border-box;
    width: 800px;
    height: 50px;
    display: inline-block; 
    outline: none;
    border-radius: 50px;
    border: 2px solid salmon;
    padding: 10px 10px 10px 20px;
    background: white;
    cursor: default;
}
.customSearchBtn, .OCRBtn{
    width: 50px;
    height: 50px;
    display: inline-block; 
    cursor: pointer; 
}
.customSearchBtn img {
	position: absolute;
	top: 3px;
	width: 40px;
	height: 40px;
}
.customSearchBtn{
	position: absolute;
	left: 1000px;
	border-radius: 0 50px 50px 0;
}
.customSearchBtn{
	background: salmon;
}


/*사진 삽입란*/
.OCRsearch, input[type="file"]{
    width: 800px;
    height: 500px;
    margin: 20px 0 20px 0;
    
    background: lightgray;
}
input[type="file"]{
	position: absolute;
    z-index: 50;
    background: salmon;
    opacity: 0;
    cursor: pointer;
}
.OCRsearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    
}
.OCRsearch > img{
    width: 50px;
    height: 50px;
}

