main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.innerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    
    border: 2px solid turquoise;
}



/*검색 결과란*/
.OCRresult{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1280px;
    height: 100px;
    background: lightgray;
}
input[type="text"]{
    width: 1000px;
    height: 50px;
    border: none;
    outline: none;
    background: palegoldenrod;
}
input[type="button"]{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: onne;
    background: skyblue;
}

/*OCR 설명란*/
h4{
    padding-left: 10px;
}
.OCRexplain{
    padding: 10px;
	background: lightgray;
	
    border: 1px solid orange;
}
.OCRexplain > ol > li{
	box-sizing: border-box;
	width: 400px;
	
	font: normal normal 10pt 'sans-serif';
}

/*사진 삽입란*/
.OCRsearch, input[type="file"]{
    width: 800px;
    height: 600px;
    
    background: lightgray;
}
input[type="file"]{
    position: relative;
    z-index: 50;
/*     top: 515px; */
    background: salmon;
    opacity: 0.5;
    display: hidden;
    cursor: pointer;
}
.OCRsearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.OCRsearch > img{
    width: 50px;
    height: 50px;
}

