@charset "utf-8";

.serviceMain{
	display:flex;	
	justify-content: center; 
    align-items: center;
    margin: 100px 0 100px 0;
    
    border: 2px solid lightgray;
}
.MainContainer{
	display: flex;
	flex-direction: column;
	width: 1280px;
	justify-content: center; 
    align-items: center;
}

/* 사진 + 설명 */
.introBox{
	margin: 20px;
	border-radius: 8px;
	border: 2px solid salmon;
}
.introBox p{
	font: normal bold 35px 'sans-serif';
}
.threeWays .introBox{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 1280px;
	height: 400px;
}
.introText{
	width: 700px;
	height: 300px;
	margin: 0 0 0 30px;
	
	border: 1px solid black;
}
.introText p{
	font: normal bold 15pt 'sans-serif';
}
.imgPlace{
	float: left;
	width: 300px;
	height: 300px;
	
	border: 2px solid gray;
}