main{
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
}
.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
}
.loginbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 640px;
    height: 250px;
    padding: 20px;
    
    border: 2px solid gray;
    border-radius: 5px;
}
.loginforms > form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

td:first-child{
	text-align: center;
    padding: 10px;
}
input[type="text"],
input[type="password"]{
	box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: none;
    background: #f2f2f2;
}
input[type="submit"]{
    float:right;
    width: 100px;
    height: 100px;
    font: normal bold 12pt 'sans-serif';
    cursor: pointer;
    border: none;
    background: salmon;
}
.findNjoin > p{
	position: relatvie;
	margin: 10px;
	left: 100px;
	font-size: 11pt;
	cursor: pointer;
	color: #0000f4;;
}
input[type="button"]{
    width: 150px;
    height: 50px;
    margin: 0px 10px 0 10px;
    font: normal bold 12pt 'sans-serif';
    color: white;
    cursor: pointer;
    border: none;
    background: gray;
}
.loginbuttonetc{
    display: flex;
    justify-content: center;
}