
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    
    border: 2px solid gray;
    border-radius: 8px;
}
.upperComment{
	width: 1000px;
	float: left;
	margin: 30px 0 0px 0;
	color: red;
}
.tablecontainer{
    display:flex;
    justify-content: center;
}
table{
    width: 1000px;
    margin: 20px 0 0 0;
    border-collapse: collapse;
    border-top: 2px solid black;
	border-bottom: 2px solid black;
}
tr{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
th{
    width: 120px;
    text-align:center;
}
td{
    padding: 10px 10px 10px 30px;
}
.passrequire{
	margin: 0;
	font: normal bold 10pt 'sans-serif';
    color: red;
}

input[type="text"], input[type="password"], select{
    width: 320px;
    height: 30px;
    border: none;
    outline: none;
    background: #f2f2f2;
}
input[type="text"], input[type="password"]{
	box-sizing: border-box;
	padding: 10px;
}
tr:nth-child(n+7) > 
td:nth-child(2) > 
input[type="text"],
select{
    width: 100px;
    outline: none;
}
.joinbtncontainer{
    display: flex;
    justify-content: center;
}
.joinbtns{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 100px;
}
input[type="submit"],
.joincancel, .idcheck, .nickcheck, .emailcheck{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.idcheck, .nickcheck, .emailcheck{
	color: white;
	background: indigo;
}
input[type="submit"],
.joincancel{
    width: 100px;
    height: 50px;
    margin: 20px 10px 0 10px;
    background: salmon;
}
.idcheck, .nickcheck, .emailcheck{
    width: 80px;
    height: 30px;
}


.hidden{
	display: none;
}
.userPhoto{
	padding: 20px;
	
}
.userPhoto>label> img{
	width: 200px;
	height: 200px;
	cursor: pointer;
	opacity: 0.5;
}
input[type="file"]{
	display: none;
	
}

