header{
    display: flex;
    justify-content: center;

    background: lemonchiffon;
}
.headcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 200px;

    border: 1px solid green;
}
.logopic{
    width: 200px;
    height: 100px;
    margin-left: 20px;

    border: 1px solid salmon;
}
.loginplace{
    width: 100px;
    height: 100px;
    margin-right: 20px;

    border: 2px solid skyblue;
}