@charset "UTF-8";

/* 추가 페이지. 토글 아코디언? */
.submenus{
	position: absolute;
	z-index: 5;
	top: 430px;
	display: flex;
	justify-content: space-evenly;
	width: 960px;
	
	border: 2px solid gray;
	background: lemonchiffon;
}
.submenus ul{
	padding: 0px;
}
.submenus ul li{
	line-height: 2em;
	font-weight: bold;
	cursor: pointer;
	list-style-type: none;
}
.submenus:hover li{
	text-decoration: underline;
	color: red;
}
.starSublist>ul>li{
	margin: 0 30px 0 30px;
	display: inline-block;
}
.hide{
	opacity: 0;
}





/* 컨테이너 */
.outContainer {
	flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    
    margin: 100px 0 100px 0;
}
.innerContainer{
	display: flex;
    flex-direction: column;
	width: 1280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
	/* border: 1px solid salmon; */
}



/* 검색 부분 */

.searchContainer{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	padding: 10px;
}
.searchContainer::before{
	content:"";
	background: #f2f2f2;
	position: absolute;
	z-index: -5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.ocricon{
	position: relative;
	top: -3px;
	width: 50px;
	height: 50px;
	border: 4px solid gray;
	border-radius: 5px;
	background: white;
}
.ocricon img{
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.searchBar {
	box-sizing: border-box;
    width: 800px;
    height: 50px;
    display: inline-block; 
    outline: none;
    border-radius: 50px;
    border: 2px solid salmon;
    padding: 10px 10px 10px 20px;
    background: white;
    
    /* border: 1px solid brown; */
}
.customSearchBtn, .OCRBtn{
    width: 50px;
    height: 50px;
    display: inline-block; 
    cursor: pointer; 
}
.customSearchBtn img {
	position: relative;
	top: 3px;
	width: 40px;
	height: 40px;
}
.customSearchBtn{
	position: relative;
	left: -50px;
	border-radius: 0 50px 50px 0;
}
.OCRBtn{
	margin-left: 20px;
}
.customSearchBtn{
	background: salmon;
}

/* 카테고리 부분 */
.category {
    list-style: none;
    display: flex; 
    justify-content: space-around; 
    padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
	width: 100%;
    
	background: salmon;
    /* border: 1px solid brown; */
}
.category li {
	width: 200px;
/*     padding: 10px;  */
	font: normal bold 15pt 'sans-serif';
	border-radius: 50px;
	cursor: pointer;
	color: white;
}
.category li:hover{
	color: black;
	background: lemonchiffon;
	transition: "all 300ms ease-in-out";
}

/* 최상단 메인 이미지 */
.eventImgCon{
	width: 1280px;
	height: 540px;
	overflow: hidden;
	
	/* border: 1px solid red; */
}

.eventImgList{
	position: relative;
	display: flex;
	list-style-type: none;
	padding: 0px;
	
	left: -1280px;
	
	/* border: 1px solid black; */
}
.mainImg {
    border: 1px solid gray;
    width: 1280px;
    height: 500px;
}
.mainImg:nth-child(2){
	background-image: url("/resources/static/images/profile1.jpg");
}
.mainImg img{
	width: 1280px;
	height: 500px;
}
.eventImgList > li:first-child{
	background: pink;
}
.eventImgList > li:last-child{
	background: lemonchiffon;
}

.mainPrevBtn,
.mainNextBtn{
	position: relative;
	
	width: 100px;
	height: 100px;
	cursor: pointer;
	
/* 	background: rgba(65, 33, 21, 0.5); */
}

.mainPrevBtn{
	top: 320px;
	left: -690px;
}
.mainNextBtn{
	top: -320px;
	left: 690px;
}
