@charset "UTF-8";


/* 컨테이너 */
.outContainer {
	flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    
    margin: 100px 0 100px 0;
}
.innerContainer{
	display: flex;
    flex-direction: column;
	width: 1280px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
	/* border: 1px solid salmon; */
}



/* 검색 부분 */

.searchContainer{
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 50px;
	padding: 10px;
}
.searchContainer::before{
	content:"";
	background: #f2f2f2;
	position: absolute;
	z-index: -5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.ocricon{
	position: relative;
	top: -3px;
	width: 50px;
	height: 50px;
	border: 4px solid gray;
	border-radius: 5px;
	background: white;
}
.ocricon img{
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.searchBar, .selectBox{
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	outline: none;
	border: 2px solid salmon;
	border-radius: 50px;
}
.selectBox{
	font: normal bold 12pt 'sans-serif';
	cursor: pointer;
}
.searchBar {
    width: 800px;
    height: 50px;
    margin-left: 10px;
    display: inline-block; 
    background: white;
    
    /* border: 1px solid brown; */
}
.customSearchBtn, .OCRBtn{
    width: 50px;
    height: 50px;
    display: inline-block; 
    cursor: pointer; 
}
.customSearchBtn img {
	position: relative;
	top: 3px;
	width: 40px;
	height: 40px;
}
.customSearchBtn{
	position: relative;
	left: -50px;
	border-radius: 0 50px 50px 0;
}
.OCRBtn{
	margin-left: 20px;
}
.customSearchBtn{
	background: salmon;
}

/*카페고리 부분*/

.search-list{
    display: flex;       
    justify-content: center;
    list-style-type: none; 
    padding: 0;          
    margin: 0;  
    border-radius: 50px;
    background: salmon;
    width:1280px;
}

.search-list li {
    box-sizing: border-box;
	cursor: pointer;
	height: 40px;
	padding: 10px 20px 10px 20px;
	margin: 10px;
	font: normal bold 13pt 'sans-serif';
	
	border-radius: 50px;
}

.search-list li:hover {
/*     background-color: #f0f0f0; */
	background-color: lemonchiffon;
	transition: 200ms ease-in-out;
}

.list-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.list-show ul {
    display: none; 
    flex-direction: row; 
    list-style-type: none; 
    padding: 0;    
    margin: 0;
    text-align:center; 
}

.list-show ul li {
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.list-show ul li:hover {
    background-color: #ddd;
    color: #000;
}
.listSelect{
	background-color: lemonchiffon;
}


/* 최상단 메인 이미지 */
.eventImgCon{
	width: 1280px;
	height: 540px;
	overflow: hidden;
	
	
	/* border: 1px solid red; */
}
.eventImgCon::before{
	content: "";
	background: lemonchiffon;
}

.eventImgList{
	position: relative;
	display: flex;
	list-style-type: none;
	padding: 0px;
	
	left: -1280px;
	
	/* border: 1px solid black; */
}
.mainImg {
/*     border: 1px solid gray; */
    width: 1280px;
    height: 500px;
}
/* .mainImg:nth-child(1){ */
/* 	background-image: url("/resources/static/images/mainimg1.jpg"); */
/* } */
/* .mainImg:nth-of-type(2){ */
/* 	background-image: url("/images/pasta.jpg"); */
/* } */
.mainImg img{
	width: 1280px;
	height: 500px;
}
.eventImgList > li:first-child{
	background: pink;
}
.eventImgList > li:last-child{
	background: lemonchiffon;
}

.mainPrevBtn,
.mainNextBtn{
	position: relative;
	
	width: 100px;
	height: 100px;
	cursor: pointer;
	
/* 	background: rgba(65, 33, 21, 0.5); */
}

.mainPrevBtn{
	top: 320px;
	left: -690px;
}
.mainNextBtn{
	top: -320px;
	left: 690px;
}