@charset "UTF-8";

.recommandCon{
    width: 1280px;
	overflow: hidden;
	border-radius: 5px;
	border: 2px solid gray;
}


.recommandTag{
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 10px;
    text-align: left;
}
.recommandTag span{
	font: normal bold 15pt 'sans-serif';
}
.recommandList{
	position: relative;
	left: 0px;
	display: flex;
    list-style: none;
    padding: 0px; 
   
    
}
hr{
	margin: 0 0 10px 0;
}
.lookMore, .lookMore img{
	width: 40px;
	height: 40px;
}
.lookMore{
	float: right;
}

/* 이 부분이 가게 사진. 슬라이드 구성 요소 */
.recommandList > li{
	position: relative;
    display: flex; 
    flex-direction: column; 
    width: 380px; 
    height: 400px; 
    margin: 0 20px 0 20px;
    cursor: pointer;
    box-shadow: 0 5px 10px 1px gray;
}

.recommandImg{
    width: 380px; 
    height: 300px; 
/*     background-color: lightgray;  */
}
.recPrevBtn,
.recNextBtn{
	position: relative;
	z-index: 50;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
.recPrevBtn{
	top: 301px;
	left: -690px;
}
.recNextBtn{
	top: -301px;
	left: 690px;
}
.recommandDetail{
	font: normal bold 15pt 'sans-serif';
    padding: 10px; 
}
.detailType{
	color: gray;
	font: normal bold 13pt 'sans-serif';
}