
main{
    display: flex;
    justify-content: center;
}
.reviewContainer{
    width: 1280px;
    height: 1000px;
}

.rateSelect {
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
}

.keywordSelect {
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
}

.reviewContent {
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
    width: 90%;
}

input[type="submit"]{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-weight: bold;
    background: salmon;
}