main{
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;
}
fieldset, 
.reviewBtn, 
.reviewContent{
	width: 960px;
}
form{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	
	border-radius: 8px;
	border: 2px solid gray;
}
form > p{
	margin: 30px 0 10px 0;
	font: normal bold 15pt 'sans-serif';
}
.reviewContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 1280px;
    height: 1000px;
    
}
.rateSelect {/*별 사진*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
    
    text-align: center;
}
legend{
	font: normal bold 13pt 'sans-serif';
	text-align: left;
}
.rateSelect img{
	width: 190px;
	height: 35px;
	margin: 0 0 10px 0;	
}
.rateSelect img:not(:nth-of-type(3)){
	display: none;
}

.reviewBtn{
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
}

.checkDiv1, .checkDiv2{
	display: flex;
	flex-direction: column;
}

.keywordSelect {
	display: flex;
	justify-content: space-evenly;
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
    line-height: 2em;
}
.hidden{
	display: none;
}
.reviewContent {
	border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin:15px;
    outline: none;
}
.storePhoto{
	padding: 20px;
	
}
.storePhoto>label> img{
	width: 200px;
	height: 200px;
	cursor: pointer;
	opacity: 0.5;
}
input[type="file"]{
	display: none;
	
}
input[type="submit"]{
    width: 150px;
    height: 50px;
    margin: 20px 0 20px 0;
    font: normal bold 12pt 'sans-serif';
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: salmon;
}