main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviewContainer{
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    padding: 5px;
    
	border-radius: 8px;
    border: 2px solid gray;
}
table{
	width: 100%;
	border-top: 1px solid gray;
	border-collapse: collapse;
}
tr{
	border-bottom: 1px solid gray;
}
table, tr, td{
	table-layout: fixed;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td:nth-of-type(3){
	padding-left: 20px;
}
tr:first-child,
td:not(:nth-of-type(3)){
	text-align: center;
}
td:nth-of-type(even), 
td:last-child{
	width: 80px;
}
td:first-child, td:nth-of-type(4){
	width: 50px;
}
td:nth-of-type(5){
	width: 150px;
}
tr:first-child > td{
	padding: 10px 0 10px 0;
    font-weight: bold;
    background: #f2f2f2;
}
table, tr{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
tr{
    background: #fefefe;
}
td > img{
	width: 40px;
	height: 40px;
	cursor: pointer
}
tr:nth-of-type(n+1) td:nth-of-type(2){
	font-weight: bold;
}
.updateBtn, .deleteBtn{
	cursor: pointer;
	color: white;
	border: lightgray;
	background: indigo;
}


/*모달 창*/
.modalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.deleteModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    vertical-align: middle;
    width: 400px;
    height: 200px;
    background: white;
    opacity: 1;
}
.deleteBtns>input[type="button"]{
	box-sizing: border-box;
    width: 80px;
    height: 30px;
    background: salmon;
    border: none;
    cursor: pointer;
    font: normal bold 11pt 'sans-serif';
    margin: 20px 10px 0 10px;
}
.xplace{
    position: absolute;
    left: 340px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer; 
}
.xplace > img{
	width: 50px;
	height: 50px;
}
 .hidden{
    display: none;
} 