@charset "utf-8";

main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0 100px 0;
}
.mainContainer{
	display: flex;
	justify-content: center;
	width: 1280px;
}
form{
	padding: 30px;
	border-radius: 10px;
	border: 2px solid lightgray;
}
/* table, tr, th, td{ */
/* 	border: 1px solid turquoise; */
/* } */
table{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-collapse: collapse;
	margin: 30px;
}
table img,
.photoPlace{
	width: 185px;
	height: 185px;
	cursor: pointer;
}
#addPhoto{
	opacity: 0.5;
}
td, th{
	padding: 10px;
	border-bottom: 1px solid gray;
}
th{
	width: 100px;
	text-align: center;
	font: normal bold 13pt 'sans-serif';
}



.shopLocation{
	width: 900px;
}
input[type="text"]:not(.shopLocation){
	width: 400px;
}
input[type="text"]{
	box-sizing: border-box;
	padding: 10px;
	border: none;
	outline: none;
	background: #f2f2f2;
}
.hidden{
	display: none;
}
.shopApplyBtns{
	display: flex;
	justify-content: center;
}
input[type="submit"],
input[type="reset"]{
	width: 150px;
	height: 50px;
	margin: 10px;
	cursor: pointer;
	font: normal bold 13pt 'sans-serif';
	border-radius: 8px;
	border: none;
	background: salmon;
}

#shopReason{
	resize: none; 
	font-size: 14px;
	border : none;
	background: #f2f2f2;
}
