
main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0 100px 0;
}
.collectContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1280px;
}
.map{
/* 	position: fixed; */
	top: 0;
	
	width: 1280px;
	height: 430px;
}
.userContentCon{
	width: 1280px;
/* 	margin: 540px 0px 0px 0px; */
	
}

/*필터 셀렉트 모여 있는 바*/
.filterContainer{
	width: 1280px;
	height: 50px;
	
	background: salmon;
}
select{
	height: 50px;
	padding: 10px;
	font: normal bold 12pt 'sans-serif';
	cursor: pointer;
	border-radius: 5px;
	border: 4px solid salmon;
	outline: none;
}
.filterContainer > img{
	float: right;
	margin: 3px 5px 0 5px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}


/*모음집과 리뷰리스트가 정렬되는 공간*/
/*바둑판 부분*/
.invisible{
	display: none;
}
.viewLook{
	float: right;
}
.storeCollectGrid{
 	display: grid; 
 	grid-template: repeat(3, 1fr)/repeat(3, 1fr); 
 	place-items: center center; 
	width: 100%;
	height: 1000px;
	background: lemonchiffon;
	
}
.storeAlbum{
	width: 320px;
	height: 320px;
	margin: 40px 0 40px 0;
	
	border: 2px solid gray;
}
.storeAlbum > img{
	width: 320px;
	height: 250px;
}
.storeAlbum > span{
	font: normal bold 13pt 'sans-serif';
}

/*리스트 부분*/
.storeCollectList{
	width: 100%;
	height: 1000px;
	
}
.storeList{
	display: flex;
	margin: 10px 0 10px 0;
	padding: 10px;
	background: white;
	border-radius: 10px;
	border: 2px solid brown;
}
.storeList > img{
	width: 200px;
	height: 200px;
}
.storeList > table{
	box-sizing: border-box;
	width: 1000px;
	height: 200px;
	margin-left: 10px;
	border-collapse: collapse;
}
.storeList > table > tbody > tr > td{
	padding: 10px;
}
.storeList > table > tbody
 > tr:first-child > td:first-child{
	font: normal bold 15pt 'sans-serif';
}
.storeList > table > tbody >
 tr:first-child > 
 td:nth-child(2) > img{
	width: 125px;
	height: 20px;
}