
main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 100px 0 100px 0;
}
.collectContainer{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1280px;
}
.map{
	top: 0;
	
	width: 1280px;
	height: 430px;
}
.userContentCon{
	width: 1280px;
	
}

/*필터 셀렉트 모여 있는 바*/
.filterContainer{
	width: 1280px;
	height: 50px;
	
	background: salmon;
}
select{
	height: 50px;
	padding: 10px;
	font: normal bold 12pt 'sans-serif';
	cursor: pointer;
	border-radius: 5px;
	border: 4px solid salmon;
	outline: none;
}
.filterContainer > img{
	float: right;
	margin: 3px 5px 0 5px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}


/*바둑판 부분*/


.myBookmarkList{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto-fill, 1fr);
	justify-items: center;
	align-content: center;
	width: 1280px;
	padding: 0;
	list-style-type: none;
	
/* 	border: 1px solid red; */
}
.myBookmarkList li{
	position: relative;
	width: 300px;
	margin: 5px;
	border-radius: 10px;
	
	border: 3px solid gray;
}
.myBookmarkList img{
	width: 300px;
	height: 300px;
	border-radius: 8px 8px 0 0;
}
.bookShopInfo{
	padding: 10px;
}
.bookShopInfo span:nth-of-type(1){
	font: normal bold 15pt 'sans-serif';
}
.bookShopInfo span:nth-of-type(2){
	color: orange;
	font: normal bold 13pt 'sans-serif';
}
.bookShopInfo span:nth-of-type(3){
	color: gray;
	font: normal normal 10pt 'sans-serif';
}
.bookmarkBtn, .bookmarkBtn img{
	width: 40px;
	height: 40px;
}
.bookmarkBtn{
	position: absolute;
	top: 10px;
	left: 250px;
	background: white;
	border-radius: 50px;
	cursor: pointer;
	
	border: 1px solid gray;
}


