
main{
    display: flex;
    justify-content: center;
}
.reviewContainer{
    width: 1280px;
    height: 1000px;
}

.storeStars{
    visibility: hidden;
}
.scoreRadio{
    
    border: 1px solid black;
}
.reviewKeyword{
    border: 1px solid black;
}
.reviewContent{
    border: 1px solid black;
}
.reviewPhotos{
    border: 1px solid black;
}
.reviewBtn{
    display: flex;
    justify-content: center;
}
input[type="submit"]{
    width: 100px;
    height: 50px;
    margin-top: 20px;
    font-weight: bold;
    background: salmon;
}