main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.innerContainer > ul{
    display: flex;
    padding: 0px;
    list-style-type: none;

}